.c-todo-list-card {
  width: 95%;
  height: 95%;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.5rem;

    .fa-trash {
      // Make button hitbox larger
      padding: 0.5rem;
    }
  }

  &__list {
    overflow: hidden;
    overflow-y: auto;

    max-height: 95%;
  }
}
